{%extends "base.html"%}

{% block content %}

<form method ="post">
{# This hidden_tag is a CSRF security feature. #}
{{form.hidden_tag()}} 
{{form.email.label}} {{form.email()}} <br>
{{form.username.label}} {{form.username()}}<br>
{{form.password.label}} {{form.password()}}<br>
{{form.pass_confirm.label}} {{form.pass_confirm}}<br>
{{form.submit()}}
</form>

{% for error in form.email.errors %}
  <span style='color:red;'> {{error}}</span>

{% endfor %}

{% for error in form.username.errors %}
  <span style='color:red;'> {{error}}</span>

{% endfor %}

{% for error in form.password.errors %}
      <li>{{ error }}</li>
{% endfor %}

{% endblock %}